# {{ ansible_managed }}.
#
# See https://www.nomadproject.io/docs/configuration

log_level = "{{ nomad_log_level }}"

datacenter = "{{ nomad_data_center }}"

name = "{{ nomad_name_host }}"

data_dir = "/opt/nomad"

advertise {
  http  = "{{ ansible_default_ipv4.address }}:{{ nomad_port_http }}"
  rpc   = "{{ ansible_default_ipv4.address }}:{{ nomad_port_rpc }}"
  serf  = "{{ ansible_default_ipv4.address }}:{{ nomad_port_serf }}"
}

{% if nomad_agent_type == 'server' %}
server {
  enabled = true

  bootstrap_expect = {{ nomad_bootstrap_expect }}

  server_join {
    retry_join = {{ nomad_retry_join | to_json }}
  }

}
{% else %}
client {
  enabled = true

  server_join {
    retry_join = {{ nomad_retry_join | to_json }}
  }
}
{% endif %}


plugin "raw_exec" {
  config {
    enabled = true
  }
}

